<article>
  <div>
    <slot name="image" />
  </div>
  <div>
    <slot name="title" />
    <slot name="description" />
    <slot name="paintings" />
    <footer>
      <a href="">Ver coleccion</a>
    </footer>
  </div>
</article>
