---
const { icon, title } = Astro.props;
---

<article class="p-8 bg-tertiary rounded-xl flex gap-6">
  <div>
    <svg class="size-10 text-primary">
      <use xlink:href={`./assets/sprite.svg#${icon}`}></use>
    </svg>
  </div>
  <div class="flex flex-col gap-2">
    <p class="font-bold text-lg">{title}</p>
    <slot />
  </div>
</article>
