<article>
  <div>
    <header>
      <span>Proximamente</span>
      <span><slot name="event_type" /></span>
    </header>
    <div>
      <slot name="event_icon" />
    </div>
    <div>
      <h3><slot name="name" /></h3>
      <p><slot name="description" /></p>
    </div>
  </div>
  <div>
    <p>
      <span>icon</span><slot name="date" />
    </p>
    <p>
      <span>icon</span><slot name="time" />
    </p>
    <p>
      <span>icon</span><slot name="location" />
    </p>
    <a href="/">Reservar Plaza</a>
  </div>
</article>
