---
const { icon, title, text } = Astro.props;
---

<article
  class="bg-tertiary p-6 rounded-xl outline-1 outline-white/20 hover:-translate-y-2.5 transition-transform duration-300"
>
  <a href="" class="flex gap-4 items-center">
    <div>
      <svg class="size-8">
        <use xlink:href={`./assets/sprite.svg#${icon}`}></use>
      </svg>
    </div>
    <div>
      <p class="font-bold text-lg">{title}</p>
      <p>{text}</p>
    </div>
  </a>
</article>
