---
const { description, initials, name, position } = Astro.props;
---

<article
  class="grid grid-cols-1 gap-6 bg-tertiary outline-1 outline-white/20 rounded-xl p-10"
>
  <header>
    <p class="text-yellow-300 text-2xl" id="stars">★ ★ ★ ★ ★</p>
  </header>
  <p class="italic prose prose-invert">{description}</p>
  <div class="flex items-center gap-4 pt-6 border-t-1 border-white/20">
    <span
      class="rounded-full bg-primary size-12 text-tertiary font-semibold text-lg flex justify-center items-center"
      >{initials}</span
    >
    <div>
      <p class="font-bold text-lg">{name}</p>
      <p class="text-white/80">{position}</p>
    </div>
  </div>
</article>

<script>
  import { gsap } from "gsap";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(SplitText);

  const starsContent = document.querySelectorAll("#stars");

  starsContent?.forEach((e) => {
    const stars = new SplitText(e, {
      type: "words",
    });
    gsap.from(stars.words, {
      y: -5,
      stagger: {
        each: 0.8,
        repeat: -1,
        yoyo: true,
      },
    });
  });
</script>
