<article>
  <header>
    <slot name="image" />
  </header>
  <slot name="text" />
  <div>
    <a href=""><slot name="initials" /></a>
    <div>
      <slot name="name" />
      <slot name="position" />
    </div>
  </div>
</article>
