---
import Collection from "../components/Collection.astro";
---

<section>
  <div>
    <header>
      <h2>Colecciones Destacadas</h2>
    </header>
    <p>
      Cada coleccion representa un viaje artistico unico, explorando diferentes
      temaas y tecnicas que definen nuestro estilo distintivo
    </p>
    <div>
      <Collection>
        <img slot="image" src="/" alt="" />
        <h3 slot="title">Luces de la ciudad</h3>
        <p slot="description">Una serie que</p>
        <p slot="paintings">5 obras</p>
      </Collection>
      <Collection>
        <img slot="image" src="/" alt="" />
        <h3 slot="title">Luces de la ciudad</h3>
        <p slot="description">Una serie que</p>
        <p slot="paintings">5 obras</p>
      </Collection>
      <Collection>
        <img slot="image" src="/" alt="" />
        <h3 slot="title">Luces de la ciudad</h3>
        <p slot="description">Una serie que</p>
        <p slot="paintings">5 obras</p>
      </Collection>
      <Collection>
        <img slot="image" src="/" alt="" />
        <h3 slot="title">Luces de la ciudad</h3>
        <p slot="description">Una serie que</p>
        <p slot="paintings">5 obras</p>
      </Collection>
      <Collection>
        <img slot="image" src="/" alt="" />
        <h3 slot="title">Luces de la ciudad</h3>
        <p slot="description">Una serie que</p>
        <p slot="paintings">5 obras</p>
      </Collection>
    </div>
  </div>
</section>
