---
import ContactInfo from "../components/ContactInfo.astro";
import Social from "../components/Social.astro";
---

<section
  class="flex flex-col gap-8 justify-center items-center px-6 py-24 w-full min-h-dvh"
  id="contact"
>
  <header>
    <h2 class="text-4xl font-bold text-center md:text-5xl">
      Contacto y <span class="text-primary">Redes Sociales</span>
    </h2>
  </header>
  <p class="prose prose-invert text-center text-xl text-white">
    Ponte en contacto con nosotros para consultas, visitas privadas o
    simplemente para compartir tu pasión por el arte
  </p>
  <div class="mt-10 flex flex-col gap-12 w-full max-w-7xl lg:flex-row">
    <div
      class="bg-tertiary rounded-xl p-10 flex flex-col gap-10 outline-1 outline-white/20 flex-1"
    >
      <header>
        <h3 class="text-3xl font-bold text-center">Envíanos un mensaje</h3>
      </header>
      <form action="" class="flex flex-col gap-8">
        <div class="flex flex-col gap-8 md:flex-row">
          <div class="flex flex-col gap-4 flex-1">
            <label for="name" class="font-semibold">Nombre</label>
            <input
              type="text"
              name="name"
              id="name"
              class="p-3 rounded-xl bg-secondary outline-1 outline-white/20 placeholder:text-white/80"
              placeholder="Tu nombre completo"
            />
          </div>
          <div class="flex flex-col gap-4 flex-1">
            <label for="email" class="font-semibold">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              class="p-3 rounded-xl bg-secondary outline-1 outline-white/20 placeholder:text-white/80"
              placeholder="tu@email.com"
            />
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <label for="subject" class="font-semibold">Asunto</label>
          <input
            type="text"
            name="subject"
            id="subject"
            class="p-3 rounded-xl bg-secondary outline-1 outline-white/20 placeholder:text-white/80"
            placeholder="Tu asunto"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label for="message" class="font-semibold">Mensaje</label>
          <textarea
            name="message"
            id="message"
            class="p-3 h-32 rounded-xl bg-secondary outline-1 outline-white/20 placeholder:text-white/80"
            placeholder="Comparte tus comentarios, preguntas o sugerencias"
          ></textarea>
        </div>
        <button
          type="submit"
          class="relative inline-block bg-primary rounded-xl w-full text-tertiary text-center font-semibold overflow-hidden z-10 transition-colors duration-300 hvr-sweep-to-bottom text-lg py-2.5 cursor-pointer"
        >
          Enviar Mensaje
        </button>
      </form>
    </div>
    <div class="flex-1 flex flex-col gap-6">
      <div>
        <header>
          <h3 class="text-2xl font-bold mb-8">Información de Contacto</h3>
        </header>
        <div class="flex flex-col gap-6">
          <ContactInfo icon="location-icon" title="Ubicación">
            <div class="flex flex-col gap-0.5">
              <span>Calle del Arte 123,</span>
              <span>Centro Histórico</span>
              <span>Ciudad de México</span>
            </div>
          </ContactInfo>
          <ContactInfo icon="phone-icon" title="Teléfono">
            <div class="flex flex-col gap-0.5">
              <span>+52 1 55 1234 5678</span>
              <span>+52 1 55 3342 2311</span>
            </div>
          </ContactInfo>
          <ContactInfo icon="mail-icon" title="Email">
            <div class="flex flex-col gap-0.5">
              <span>luminari_inc@luminari.com</span>
              <span>infoluminari@luminari.com</span>
            </div>
          </ContactInfo>
        </div>
      </div>
      <div class="w-full">
        <header>
          <h3 class="text-2xl font-bold mb-8">Síguenos en Redes Sociales</h3>
        </header>
        <div class="grid grid-cols-2 items-center justify-between gap-6">
          <Social icon="instagram-icon" title="Instagram" text="@luminari_" />
          <Social icon="facebook-icon" title="Facebook" text="@luminari" />
          <Social icon="x-icon" title="Twitter" text="@luminari_" />
          <Social icon="youtube-icon" title="Youtube" text="LuminariYT" />
        </div>
      </div>
      <div
        class="p-8 bg-gradient-to-br from-yellow-500 to-yellow-200 w-full rounded-xl text-tertiary flex flex-col gap-2"
      >
        <header>
          <h3 class="text-2xl font-bold md:text-3xl">Horarios</h3>
        </header>
        <div class="flex justify-between font-semibold md:text-lg">
          <p>Lun - Vie:</p>
          <p>10:00 - 19:00</p>
        </div>
        <div class="flex justify-between font-semibold md:text-lg">
          <p>Sábado:</p>
          <p>10:00 - 15:00</p>
        </div>
        <div class="flex justify-between font-semibold md:text-lg">
          <p>Domingo:</p>
          <p>Cerrado</p>
        </div>
      </div>
    </div>
  </div>
</section>
