---
import Event from "../components/Event.astro";
---

<section
  class="flex flex-col w-full justify-center items-center px-6 py-24 gap-6 bg-tertiary min-h-dvh"
>
  <header>
    <h2 class="text-4xl font-bold text-center">
      Exposiciones y <span class="text-primary">Eventos</span>
    </h2>
  </header>
  <p class="prose text-white text-xl text-center text-balance">
    Sumérgete en el mundo del arte a través de nuestras exposiciones especiales,
    talleres educativos y charlas con artistas reconocidos
  </p>
  <div class="flex flex-col gap-6 w-full pt-6">
    <Event
      event_type="Exposición"
      event_icon="shadow-icon"
      name="Exposicion: Luces y Sombras"
      description="Una muestra exclusiva de nuestra nueva colección que explora los contrastes dramáticos en la fotografía contemporánea."
      date="15 de septiembre, 2025"
      time="10:00 - 12:00"
      location="Sala Principal de Exposiciones"
    />
    <Event
      event_type="Taller"
      event_icon="image-icon"
      name="Taller: Técnicas de Composición"
      description="Aprende los secretos de la composición fotográfica de la mano de nuestros artistas expertos."
      date="22 de septiembre, 2025"
      time="16:00 - 18:00"
      location="Estudio Creativo"
    />
    <Event
      event_type="Charla"
      event_icon="message-icon"
      name="Charla: El Futuro del Arte Visual"
      description="Una conversación íntima sobre las tendencias emergentes en el arte visual y la fotografía digital."
      date="5 de octubre, 2025"
      time="19:00 - 20:30"
      location="Auditorio"
    />
  </div>
  <div
    class="mt-10 p-8 bg-gradient-to-br from-yellow-500 to-yellow-200 w-full rounded-xl text-tertiary flex flex-col gap-8"
  >
    <header>
      <p class="text-2xl font-bold text-center">No te Pierdas Ningún Evento</p>
    </header>
    <p class="text-center text-balance text-lg">
      Suscríbete a nuestro boletín para recibir información sobre próximas
      exposiciones, talleres y eventos exclusivos
    </p>
    <form action="" class="flex flex-col gap-6">
      <input
        type="email"
        name="email"
        id="email"
        class="p-4 bg-tertiary/30 outline-1 outline-gray-700/80 rounded-xl text-tertiary"
        placeholder="Tu correo electrónico"
      />
      <button
        type="submit"
        class="py-3 bg-secondary rounded-xl w-full text-primary font-semibold text-lg"
        >Suscribirme</button
      >
    </form>
  </div>
</section>
