<footer>
  <div>
    <div>
      <div>
        <header>
          <h4><span>icon</span>Luminari</h4>
        </header>
        <p>Trasnformamos momentoos unicos en arte eterno. bla bla bla</p>
      </div>
      <div>
        <p>icon info@gmal.com</p>
        <p>icon 551491076</p>
        <p>icon Madrid Spain</p>
      </div>
    </div>
    <div>
      <header>
        <h4>Galeria</h4>
      </header>
      <ul>
        <li><a href="">Sobre Nosotros</a></li>
        <li><a href="">Galeria</a></li>
        <li><a href="">Coleccioones</a></li>
      </ul>
    </div>
    <div>
      <header>
        <h4>Servicios</h4>
      </header>
      <ul>
        <li><a href="">Fotografia de Retrato</a></li>
        <li><a href="">Fotografia de Eventos</a></li>
        <li><a href="">Arte Personalizado</a></li>
        <li><a href="">Talleres</a></li>
      </ul>
    </div>
    <div>
      <header>
        <h4>Recursos</h4>
      </header>
      <ul>
        <li><a href="">Blog</a></li>
        <li><a href="">Recursos</a></li>
        <li><a href="">Preguntas Frecuentes</a></li>
        <li><a href="">Terminos y Coondiciones</a></li>
      </ul>
    </div>
  </div>
  <div>
    <p>© 2025 Luminari. Todos los derechos reservados.</p>
    <p>Hecho por Guidzero</p>
  </div>
</footer>
