<footer class="bg-secondary p-6">
  <div class="flex flex-col gap-10 pb-12 border-b-1 border-white/20">
    <div class="flex flex-col gap-8">
      <div class="flex gap-2 items-center">
        <svg class="size-8 text-primary">
          <use xlink:href="/assets/sprite.svg#logo-icon"></use>
        </svg>
        <span class="font-bold text-2xl">Luminari</span>
      </div>
      <p class="prose prose-invert text-lg">
        Trasnformamos momentoos unicos en arte eterno. Cada fotografiaa es uan
        ventaana al alma, cada compoosicion una historia que merece ser contada.
      </p>
      <div class="flex flex-col gap-4">
        <p class="flex gap-2.5 items-center">
          <svg class="size-5 text-primary">
            <use xlink:href="/assets/sprite.svg#mail-icon"></use>
          </svg>
          info@gmal.com
        </p>
        <p class="flex gap-2.5 items-center">
          <svg class="size-5 text-primary">
            <use xlink:href="/assets/sprite.svg#phone-icon"></use>
          </svg>
          +52 55 1491 076
        </p>
        <p class="flex gap-2.5 items-center">
          <svg class="size-5 text-primary">
            <use xlink:href="/assets/sprite.svg#location-icon"></use>
          </svg>
          Madrid, Spain
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-6">
      <header>
        <h4 class="font-semibold text-xl text-primary">Galeria</h4>
      </header>
      <ul class="flex flex-col gap-4 text-stone-300">
        <li><a href="">Sobre Nosotros</a></li>
        <li><a href="">Galeria</a></li>
        <li><a href="">Coleccioones</a></li>
        <li><a href="">Exposiciones</a></li>
      </ul>
    </div>
    <div class="flex flex-col gap-6">
      <header>
        <h4 class="font-semibold text-xl text-primary">Servicios</h4>
      </header>
      <ul class="flex flex-col gap-4 text-stone-300">
        <li><a href="">Fotografia de Retrato</a></li>
        <li><a href="">Fotografia de Eventos</a></li>
        <li><a href="">Arte Personalizado</a></li>
        <li><a href="">Talleres</a></li>
      </ul>
    </div>
    <div class="flex flex-col gap-6">
      <header>
        <h4 class="font-semibold text-xl text-primary">Recursos</h4>
      </header>
      <ul class="flex flex-col gap-4 text-stone-300">
        <li><a href="">Blog</a></li>
        <li><a href="">Recursos</a></li>
        <li><a href="">Preguntas Frecuentes</a></li>
        <li><a href="">Terminos y Coondiciones</a></li>
      </ul>
    </div>
  </div>
  <div
    class="flex flex-col gap-4 py-12 justify-center items-center text-stone-300"
  >
    <p>© 2025 Luminari. Todos los derechos reservados.</p>
    <p>Hecho por Guidzero 🐈</p>
  </div>
</footer>
