<section
  class="min-h-dvh flex flex-col gap-6 py-24 justify-center items-center px-6 w-full"
>
  <header>
    <h2 class="text-4xl font-bold">
      Galería <span class="text-primary">Principal</span>
    </h2>
  </header>
  <p class="prose text-white text-center text-xl">
    Explora nuestra colección cuidadosamente curada de obras que representan
    diferentes estilos y técnicas artísticas
  </p>
  <div class="flex flex-col gap-12 mt-12">
    <img
      src="./assets/paint-img1.webp"
      alt="Imagen sobre la primera obra de la galería"
      class="size-80 object-cover"
    />
    <img
      src="./assets/paint-img2.webp"
      alt="Imagen sobre la segunda obra de la galería"
      class="size-80 object-cover"
    />
    <img
      src="./assets/paint-img3.webp"
      alt="Imagen sobre la tercera obra de la galería"
      class="size-80 object-cover"
    />
    <img
      src="./assets/paint-img4.webp"
      alt="Imagen sobre la cuarta obra de la galería"
      class="size-80 object-cover"
    />
    <img
      src="./assets/paint-img5.webp"
      alt="Imagen sobre la quinta obra de la galería"
      class="size-80 object-cover"
    />
    <img
      src="./assets/paint-img6.webp"
      alt="Imagen sobre la sexta obra de la galería"
      class="size-80 object-cover"
    />
  </div>
</section>
