<section>
  <div>
    <header>
      <h2>Galeria principal</h2>
    </header>
    <p>
      Explora nuestra coleccioon cuidadosamente curada de obras que representan
      diferentes estiloos y tecnicaas artisticas
    </p>
    <div>
      <img src="/" alt="" />
      <img src="/" alt="" />
      <img src="/" alt="" />
      <img src="/" alt="" />
      <img src="/" alt="" />
    </div>
  </div>
</section>
