<section>
  <div>
    <header>
      <h1>Luminari</h1>
      <h2>Galeria de Arte Contemporaneo</h2>
    </header>
    <p>
      Descubre una coleccioon unica de arte visual que desafio los limites de la
      creatividad y la expresion artistica
    </p>
    <footer>
      <a href="/">Explorar Galeria</a>
      <a href="/">Sobre el Artista</a>
    </footer>
  </div>
</section>
