<section
  class="min-h-dvh w-full max-w-4xl
 p-6 flex gap-8 flex-col justify-center items-center bg-[url('./assets/mobile-bg.webp')] bg-cover"
>
  <header class="text-center flex flex-col justify-center items-center">
    <h2 class="text-5xl font-bold bg-stone-900/10 backdrop-blur-sm w-fit">
      Galería de Arte
    </h2>
    <h1
      class="text-5xl font-bold text-primary bg-stone-900/10 backdrop-blur-sm w-fit"
    >
      Luminari
    </h1>
  </header>
  <p class="prose prose-invert text-white text-center text-xl">
    Descubre una colección única de arte visual que desafía los límites de la
    creatividad y la expresión artística
  </p>
  <footer class="flex flex-col gap-4 w-full">
    <a
      href="/"
      class="py-2.5 bg-primary rounded-xl w-full text-black text-center font-semibold text-lg shadow-glow"
    >
      Explorar Galería
    </a>
    <a
      href="/"
      class="py-2.5 bg-secondary rounded-xl w-full text-center font-semibold text-lg shadow-glow text-primary outline-primary outline-1"
    >
      Sobre el Artista
    </a>
  </footer>
</section>
