---

---

<nav class="fixed top-0 w-dvw flex justify-between p-6 items-center">
  <a href="/" class="flex gap-2 items-center">
    <svg class="size-8 text-primary">
      <use xlink:href="/assets/sprite.svg#logo-icon"></use>
    </svg>
    <span class="font-bold text-xl">Luminari</span>
  </a>
  <div class="flex items-center">
    <svg class="size-8 cursor-pointer">
      <use xlink:href="/assets/sprite.svg#burger-icon"></use>
    </svg>
  </div>
  <!-- <ul>
    <li>Inicio</li>
    <li>Sobre Nosotros</li>
    <li>Galeria</li>
    <li>Colecciones</li>
    <li>Exposiciones</li>
    <li>Contacto</li>
  </ul> -->
</nav>
