---
import Testinomial from "../components/Testinomial.astro";
---

<section>
  <header>
    <h2>Lo que dicen Nuestros Visitantes</h2>
  </header>
  <p>Su puta madre</p>
  <div>
    <Testinomial>
      <img slot="image" src="/" alt="" />
      <p slot="text">Su puta madre</p>
      <span slot="initials">MG</span>
      <span slot="name">Guido Perez</span>
      <span slot="position">Desarollador</span>
    </Testinomial>
    <Testinomial>
      <img slot="image" src="/" alt="" />
      <p slot="text">Su puta madre</p>
      <span slot="initials">MG</span>
      <span slot="name">Guido Perez</span>
      <span slot="position">Desarollador</span>
    </Testinomial>
    <Testinomial>
      <img slot="image" src="/" alt="" />
      <p slot="text">Su puta madre</p>
      <span slot="initials">MG</span>
      <span slot="name">Guido Perez</span>
      <span slot="position">Desarollador</span>
    </Testinomial>
  </div>
</section>
